*{
    margin: 0;padding: 0;box-sizing: border-box;
}
body{
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100vh;
    background-color: rgb(226, 225, 225);
    
}
.about{
    text-align: center;
    font-size: 30px;font-weight: bold;
}
.lorem{
    font-size: 20px;text-align: center;
}
.display{
    display: flex;padding: 20px;
}
.photo{
    flex: 1;
}
.text{
    flex: 1;margin-left: 20px;
    box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
    background-color: white;
}
img{ width: 100%;}
.tabButton{
    padding-left: 20px;padding-right: 20px;
    padding-top: 10px;padding-bottom: 10px;
    border: none;font-size: 20px;font-weight: bold;flex:1
    

}
.Dis_button{
    display: flex;width: 100%;
}
.letter{
    margin-right: 40px;
}
.history{
    font-size: 20px;font-weight: bold;
    margin-bottom: 10px;margin-top: 30px;
}
.active{
    background-color: white;
}
.display_bellow{
    padding-left: 20px;
}